.btn-more {
    width: 250px;
    height: 60px;
    display: grid;
    place-items: center;
    background-color: #000;
    color: #ffffff;
    margin: 0 auto;
}

.btn-more:hover {
    background-color: $color-primary;
}