/*
* Variables Global
**/

$font-primary: "Relative",
sans-serif;
$font-second: "OggText",
sans-serif;
// Colours
$color-primary: #218373;
$color-second: #FFF4ED;
;
$color-third: #393939;
$color-dark: #000000;
$color-white: #FFFFFF;